body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: white;

}

h2 {
    min-height: 3rem;
    font-size: 1rem;
    margin-bottom: 0;
}

.alert {
    background-color: red;
    padding: 0 10px 0 10px;
}

h1 {
    color: aqua;
}

h3 {
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 0.5rem;
    cursor: pointer;
}

.red {
    background-color: #f72008;
    opacity: 0.3;
}

.yellow {
    background-color: #edde0eed;
    opacity: 0.3;
}

.green {
    background-color: #34E89E;
    opacity: 0.3;
}

.purple {
    background-color: #0b40de;
    opacity: 0.3;
}

.gameFlash { opacity: 1; }
.userFlash { opacity: 1; }

.game-over {
    background: #c1121f;
    opacity: 0.5;
}

footer {
  margin-top: 5rem;
  font-size: 0.8rem;
  color: #ccc;
  opacity: 0.8;
}