body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: white;

}

h2 {
    min-height: 3rem;
    font-size: 1rem;
    margin-bottom: 0;
}

.alert {
    background-color: red;
    padding: 0 10px 0 10px;
}

h1 {
    color: aqua;
    margin: 0;
}

h3 {
    color: white;
    margin-bottom: 0;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 0.5rem;
    cursor: pointer;
}

.red {
    background-color: #f72008;
    opacity: 0.3;
}

.yellow {
    background-color: #edde0eed;
    opacity: 0.3;
}

.green {
    background-color: #34E89E;
    opacity: 0.3;
}

.purple {
    background-color: #0b40de;
    opacity: 0.3;
}

.gameFlash {
    opacity: 1;
}

.userFlash {
    opacity: 1;
}

.game-over {
    background: #c1121f;
}


footer {
    margin-top: 3rem;
    font-size: 0.8rem;
    color: #ccc;
    opacity: 0.8;
}

.startBtn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    opacity: 0.75;
    margin-top: 1rem;
}

.startBtn:hover {
    opacity: 1;
}

.about-link{
    background: none;
    border: none;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.about-link a {
    font-size: large;
    font-weight: bold;
    color: red; 
    text-decoration: none;
}
